<header id="nav">

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <h2>Admin</h2>
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="">Popular Destinations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Recent Trips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Videos</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Place</a>
                    </li> -->
                </ul>
                <!-- Left links -->
                <!-- <span class="ml-2" (click)="loginform()">Admin</span> -->
                <button type="button" style="color: aliceblue;" class="btn " routerLink="addcontent" >
                    Add Content
                </button>


                <!-- Button trigger modal -->



            </div>




        </div>

    </nav>

</header>